websocket==0.2.1
google-cloud
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==3.1.0
gevent==22.10.2
greenlet==2.0.2
idna==3.4
protobuf==4.22.3
pycparser==2.21
requests==2.29.0
urllib3==1.26.15
websocket-client==1.5.1
zope.event==4.6
zope.interface==6.0
protobuf_inspector
webdriver_manager
selenium

urllib3 
PyExecJS
